:root{
    --text: #02170a;
    --background: #f6fef9;
    --primary: #80f9ad;
    --secondary: #bef9d4;
    --accent: #8c4f76;

    --page-transition-time: .8s;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    /* set up text here */
    color: var(--text);
}

/**************************************************************************************/
/*                                    Landing Page                                    */
main{
    width: 40%;
    height: 100%;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: Move-On-Screen-Anim .8s forwards;
}

main.off-screen{
    animation: Move-Off-Screen-Anim .8s forwards;
}

main button{
    margin: 5px 0px;
    cursor: pointer;
    border: none;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
}

/**************************************************************************************/
/*                                     Log in Page                                    */
.login-page{
    width: 40%;
    height: 100%;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: Move-On-Screen-Anim .8s forwards;
}

.login-page.off-screen{
    animation: Move-Off-Screen-Anim .8s forwards;
}

/**************************************************************************************/
/*                                    Sign Up Page                                    */
.signup-page{
    width: 40%;
    height: 100%;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: Move-On-Screen-Anim .8s forwards;
}

.signup-page.off-screen{
    animation: Move-Off-Screen-Anim .8s forwards;
}

@keyframes Move-On-Screen-Anim {
    0% {
        transform: translateY(100%);
    }
    45% {
        transform: translateY(-3%);
    }
    70%{
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes Move-Off-Screen-Anim {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(100%);
    }
}