:root{
    --text: #02170a;
    --background: #f6fef9;
    --primary: #80f9ad;
    --secondary: #bef9d4;
    --accent: #8c4f76;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    /* set up text here */
    color: var(--text);
}

main{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main button{
    margin: 5px 0px;
    cursor: pointer;
    border: none;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
}